<div>
  <h1 class='display-6 bg-secondary p-5'>My Dashboard</h1>
</div>

<div class='p-5'>
  <div class='card text-white bg-dark mb-3'>
    <div class='card-header d-flex justify-content-between'>
      <h5>{{post.title}}</h5>
      <p>Posted by:
        {{post.user.name}}
        on
        {{format_date post.date_created}}</p>
    </div>
    <div class='card-body'>
      <p class='card-text'>{{post.content}}</p>
    </div>
  </div>
</div>

{{#each comments as |comment|}}
  <div class='p-5'>
    <div class='card text-white bg-dark mb-3'>

      <div class='card-body'>
        <p class='card-text'>{{comment.content}}</p>
        <p class='card-text'>~
          {{comment.user.name}},
          {{format_date comment.date_created}}</p>

      </div>
    </div>
  </div>
{{/each}}
{{#if logged_in}}
  <div class='p-5'>
    <div class='card text-white bg-dark mb-3'>
      <div class='card-header d-flex justify-content-between'>
        <h2>Leave a Comment</h2>
      </div>
      <div class='card-body'>
        <form id='add-comment' data-id='{{post.id}}'>
          <div class='mb-3'>
            <textarea class='form-control' id='comment-content' rows='3'></textarea>
          </div>
          <div class='d-grid gap-2'>
            <button type='submit' class='btn btn-primary' id='edit-btn'>Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src='/js/comment.js'></script>
{{else}}
  {{> login-form}}
{{/if}}